<footer class="footer">
    <h2 class="">Reading books makes people smarter. Our team loves books. Be smart! Join us! 😉</h2>
  <ul class="list-team">
    <li class="item">
       <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="./img/team/stepan.jpg" alt="Stepan Kryvskyi" width="200" class="card">
       <div class="overlay-bg-item">
        <p class="overlay-text-item">Autobiographical and historical genres</p>
       </div>
    </div>
      <h3 class="fact-team">Stepan Kryvskyi</h3>
      <p class="fact-descr">TeamLead</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="./img/team/hanna.jpg" alt="Hanna Bodnarovska" width="200" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Fantasy</p>
      </div>
      </div>
      <h3 class="fact-team">Hanna Bodnarovska</h3>
      <p class="fact-descr">Scrum Master</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/yuliia.jpg" alt="Yuliia Dubyniuk" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Detective genre</p>
      </div>
    </div>
      <h3 class="fact-team">Yuliia Dubyniuk</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="">
      <div class="overlay-item">
      <img src="../img/team/mychailo.jpg" alt="Mykhailo Mamin" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Fiction and detective stories</p>
      </div>
    </div>
      <h3 class="fact-team">Mykhailo Mamin</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item item-mi">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/oleksandra.jpg" alt="Oleksandra Tkach" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Fiction</p>
      </div>
      </div>
      <h3 class="fact-team">Oleksandra Tkach</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/yegor.jpg" alt="Yehor Hlavatyi" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Manga</p>
      </div>
      </div>
      <h3 class="fact-team">Yehor Hlavatyi</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/viktoriia.jpg" alt="Victoria Kozlova" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-text-item">Fantasy, detective and mystery</p>
      </div>
      </div>
      <h3 class="fact-team">Victoria Kozlova</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/vladyslav.jpg" alt="Vladislav Babitckyu" width="145" class="card">
      <div class="overlay-bg-item">
        <p class="overlay-bg-item">Fantasy</p>
      </div>
      </div>
      <h3 class="fact-team">Vladislav Babitckyu</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
    <li class="item">
      <a class="container-item" href="#">
      <div class="overlay-item">
      <img src="../img/team/dmytro.jpg" alt="Dima Bodartinov" width="145" class="card">

      <div class="overlay-bg-item">
        <p class="overlay-text-item">Fantasy and adventure</p>
      </div>
      </div>
      <h3 class="fact-team">Dima Bodartinov</h3>
      <p class="fact-descr">Frontend developer</p>
      </a>
    </li>
   </ul>

</footer>