<footer>
  <h1 class="item">Our Team likes</h1>
  <ul>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Scrum Master</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>TeamLead</p>
    </li>
    <li>
      <img src="../img/team/yuliia -dubyniuk.jpg" alt="Yuliia Dubyniuk" width="100">
      <h2 class="card-set-team">Yuliia Dubyniuk</h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="Victoria Kozlova" width="100">
      <h2 class="card-set-team">Victoria Kozlova</h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Frontend developer</p>
    </li>
    <li>
      <img src="" alt="" width="100">
      <h2 class="card-set-team"></h2>
      <p>Frontend developer</p>
    </li>
  </ul>
</footer>