<header class="header container" id="header">
  <a href="./index.html" class="logo-link"
    ><svg class="logo logo-icon" width="109" height="28">
      <use href="./img/svg/icons.svg#logo-icon"></use></svg
    ><svg class="dark-logo dark-icon" width="109" height="28">
      <use href="./img/svg/icons.svg#icon-dark-logo"></use></svg
  ></a>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./index.html" class="nav-link home-link js-open-page">HOME</a>
      </li>

      <li class="nav-item">
        <a href="./shopping-list.html" class="nav-link shop-list-page"
          >SHOPPING LIST<svg
            class="unchecked shoper-dark"
            width="20"
            height="20"
          >
            <use href="./img/svg/icons.svg#shopper-icon"></use></svg
          ><svg class="shoper-icon dark-shopper-icon" width="20" height="20">
            <use href="./img/svg/icons.svg#icon-dark-shopper"></use></svg
        ></a>
      </li>
    </ul>
  </nav>

  <label class="switch">
    <input type="checkbox" id="themeToggle" />

    <span class="slider round"></span>
  </label>
  <button class="menu-toggle-btn normal-mode" type="button">
    <svg class="menu-toggle-icon" width="28" height="28">
      <use href="./img/svg/icons.svg#icon-align-left"></use>
    </svg>
    <svg class="menu-icon dark-mode-btn" width="28" height="28">
      <use href="./img/svg/icons.svg#icon-dark-header-btn"></use>
    </svg>
  </button>

  <button class="sign-up-btn" type="button">
    <span class="sign-up-btn-text">Sign up</span
    ><svg class="" width="20" height="20">
      <use href="./img/svg/icons.svg#icon-arrow"></use>
    </svg>
  </button>

  <!-- <button class="user-btn" type="button">
    <img src="./img/header/user-photo.jpg" alt="User photo" />User Name<svg
      class=""
      width="20"
      height="20"
    >
      <use href="./img/svg/icons.svg#icon-caret-down"></use>
    </svg>
  </button> -->
</header>
