<header class="header">
  <a href="../index.html" class="logo-link"
    ><svg class="" width="109" height="28">
      <use href="../img/svg/icons.svg#logo-icon"></use></svg
  ></a>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="../index.html" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a href="../shopping-list.html" class="nav-link"
          >SHOPPING LIST<svg class="" width="20" height="20">
            <use href="../img/svg/icons.svg#shopper-icon"></use></svg
        ></a>
      </li>
    </ul>
  </nav>
  <label class="switch">
    <input type="checkbox" id="themeToggle" />
    <span class="slider round"></span>
  </label>
</header>
