.loader {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: var(--active-cl);
  animation: fill 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset
  }

  100% {
    box-shadow: 0 0 0 10px inset
  }
}

.category-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: left;
}

.books {
  margin-bottom: 40px;
}

.img-link {
  width: 200px;
}

.book-card {
  margin-bottom: 40px;
}

.book-cover {
  width: 100%;
  border-radius: 8px;
}

.book-title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.1;
  text-align: left;
  letter-spacing: -0.04em;  
}

.author-name {
  font-size: 12px;
  line-height: 1.2;
  font-style: italic;
  letter-spacing: -0.04em;
  color: var(--secondary-text-cl);
}

.cat-span {
  color: var(--main-cl);
}

.no-books-text {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  font-style: italic;
  color: var(--secondary-text-cl);
}

.best-list {
  display: flex;
  flex-direction: row;
}

.overlay-bg {
  position: absolute;  
  bottom: 0;
  left: 0;

  padding: 26px 0;
  width: 100%;
  height: 70px;
  background: var(--active-cl);
  border-radius: 0px 0px 8px 8px;
  
  transform: translateY(70px);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;

  margin-bottom: 14px;
}

.overlay-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-cl);
}

.book-card:hover .overlay-bg,
.book-card:focus .overlay-bg {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .category-title{
    font-size: 48px;
  }

  .books {
    margin-bottom: 100px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
  }

  .book-card {
    margin-bottom: 0;
    width: calc((100% - 50px) / 3);
  }

  .book-cover{
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    width: 996px;
    column-gap: 24px;
  }

  .book-card {
    width: calc((100% - 96px) / 5);
  }
  .loader {
    margin-top: 150px;
  }
}
