/* Body dark-mode */

.darkmode {
  background-color: #202024;

  color: #fff;
}

/* Header dark-mode */

.header-dark {
  background-color: #111111;
}



.logo-dark {
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #111111;
}

.book-dark:hover,
.book-dark:focus {
  text-transform: uppercase;
  color: #eac645;
}


.btn-more-dark {
  color: #fff;
}

.dark-icon {
  display: none;
}

