/* Body dark-mode */

.darkmode {
  background-color: #202024;
  color: #fff;
}

/* Header dark-mode */

.header-dark {
  background-color: #111111;
}

.shoper-dark {
  fill: #fff;
}

.nav-link:hover,
.nav-link:focus {
  color: #111111;
}

.book-dark {
  color: #eac645;
}
