.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
}

.nav-list {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin-left: 76px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 183px;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 70px;
  list-style: none;
}

.home-link {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;

  min-width: 72px;
  min-height: 34px;
  padding: 8px 16px 8px 16px;
  background-color: #eac645;
  border-radius: 36px;
  gap: 10px;
}
.link-on-home-mobile {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.close-modal-btn {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

.cross-modal-icon {
  fill: #111;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nav-link:active {
  font-weight: 700;
  background-color: #eac645;
  padding: 8px 16px;
  border-radius: 36px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #4f2ee8, #dcdcdc);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(18px);
}

.dark-shopper-icon {
  display: none;
}

.logo-icon {
  display: block;
}
.menu-toggle-btn {
  margin-left: 10px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.menu-toggle-icon {
  fill: #111;
}

@media only screen and (min-width: 768px) {
  .menu-toggle-btn {
    display: none;
  }
}

.menu-container {
  position: absolute;
  width: 375px;
  height: 812px;
  padding: 20px;
  top: 64px;
  left: 16px;
  background-color: #4f2ee8;
}
.mobil-menu-img {
  position: absolute;
  bottom: 0;
  left: 0;
}
