body{
    font-family: "DM Sans", sans-serif;
    font-size: 21px;
    line-height: 1.8;
}
.button{
    background-color: coral;
    padding: 1em 2em;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
}
.button:hover{
    background-color: aqua;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,1,0,0.2);
}
.modal-content{
    background-color: #ffffff;
    margin: 20% auto;
    padding: 20px;
    width: 579px;
    height: 465px;
    border: 2px solid #111111;
    border-radius: 18px;
    
}

.close{
    color: #000;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
  color:#4F2EE8;
  text-decoration: none;
  cursor: pointer;
}
.about-book{
    display: -webkit-box;
}

.modal-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
.modal-author{
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: #B4AFAF;
}
.book-descr{
    font-size: 14px;
    line-height: 18px;
    font-style: normal;

}
.sale-platforms-list{
    
}
.add-button, .remove-button{
    background-color: #ffffff;
    padding: 20px;
    width: 499px;
    color: #111111;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid #4F2EE8;
    border-radius: 40px;

}
.remove-button{
    display: none;
}