body{
    font-family: "DM Sans", sans-serif;
    font-size: 21px;
    line-height: 1.8;
}
.modal-open{
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,1,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease all;
    z-index: 1;
    }
  
  .modal.active,
  .modal-content.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-content.active {
      transform: translate(-50%, -50%);
      transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .modal-content {
    position: fixed;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px 40px;
    width: 335px;
    height: 100hv;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%); 
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 30;
     border: 2px solid #111111;
    border-radius: 18px;
  }
  @media only screen and (min-width: 768px) {
    .modal-content {
      width: 579px;
      height: 465px;
      padding: 40px;
    }
    }

.close{
position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}
@media only screen and (min-width: 768px){
    .close{
    top: 24px;
    right: 15px;
    }
}

.close-icon:hover,
.close-icon:focus {
    fill: #4F2EE8 ;
  
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width: 768px) { 
    .book-card-mw{
        display: flex;
        gap: 24px;
        
    } 
}

@media screen and (min-width: 768px) {
    .book-id{
        display: flex;
        justify-content: right;
        gap: 40px;
        margin-bottom: 10px;
    }   
}

.book-cover-mw {
    height: 408px;
    width: 287px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 768px) {
    .book-cover-mw{
        height: 281px;
        width: 192px;
    }
  }
  
 
.thumb{
    max-width: 260px;
}  
.modal-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
.modal-author{
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: #B4AFAF;
}
.book-descr{
    font-size: 14px;
    line-height: 18px;
    font-style: normal;  

}
.sale-platforms-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}

.book-info{
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.add-button, .remove-button{
    display: inline-block;
    background-color: #ffffff;
    padding: 20px;
    min-width: 211px;
    color: #111111;
    font-size: 14px;
    line-height: 18px;
    border: 2px solid #4F2EE8;
    border-radius: 40px;

}
@media screen and (min-width: 768px) {
    .add-button, .remove-button{
        width: 499px;
        font-size: 18px;
        line-height: 24px;
    }
     
}
.remove-button{
    display: none;
}