<<<<<<< HEAD
.categories-lists{

}
=======

>>>>>>> a35229d34c85bfd2f03811637a2253ece5e20b0e
.book-list {
  max-width: 328px;
}

.list-link:hover,
.list-link:focus{
    color: #4F2EE8;
    text-transform: uppercase;
    cursor: pointer;

}
.list-link {
  font-size: 16px;
}

.list-link::before {
  content: "";
  color: #4F2EE8;
  text-transform: uppercase;
}
.scroll-container {
    width: 335px;
    height: 228px;
    overflow-y: scroll;
    scroll-behavior: smooth;
<<<<<<< HEAD
    margin-bottom: 35px;
=======
    
>>>>>>> a35229d34c85bfd2f03811637a2253ece5e20b0e
}

@media screen and (min-width: 768px) {
  .scroll-container {
    height: 472px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .scroll-container {
    width: 356px;

  }
}

