.shop-list-container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.shop-list-with-books {
  margin-top: 40px;
  margin-bottom: 20px;
}

.shopping-list-item {
  position: relative;
  display: flex;
}

.shopping-list-title {
  color: #111;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.28px;
}

.author-and-stores {
  display: flex;
  justify-content: space-between;
}

.shopping-list-book-description {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .shopping-list-title {
    font-size: 48px;
    letter-spacing: -1.92px;
  }
}

.shopping-list-subtitle {
  color: #4f2ee8;
}

.shopping-list-empty {
  margin-top: 120px;
  margin-bottom: 220px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .shop-list-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
}

  .shopping-list-empty {
    margin-top: 140px;
    margin-bottom: 290px;
  }
}

.shopping-list-empty p {
  width: 244px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  
}

.shopping-list-empty img {
  margin: 0 auto;
  width: 265px;
  height: 198px;
}

/* .shopping-list-book-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 335px;
  height: 170px;
  letter-spacing: -1.28px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 14px;
  position: relative;
} */

@media screen and (min-width: 768px) {
  .shopping-list-empty p {
    margin-bottom: 20px;
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
  }

  .shopping-list-empty img {
    margin: 0 auto;
    width: 322px;
    height: 241px;
  }

  .shopping-list-book-card {
    max-width: 704px;
    height: 213px;
    padding: 24px;
  }
}

@media screen and (min-width: 1440px) {
 .shop-list-container {
  max-width: 1440px;
  display: flex;
  gap: 40px;
 }

 .shopping-list-empty {
   margin-top: 140px;
   margin-bottom: 60px;
 }

  .shopping-list-book-card {
    max-width: 996px;
  }
}

.shopping-list-img {
  width: 100%;
  max-width: 100px;
  height: 142px;
}

@media screen and (min-width: 768px) {
  .shopping-list-img {
    width: 116px;
    height: 165px;
    border-radius: 8px;
  }
}

.shopping-list-book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 14px;
  height: 100%;
}

.shopping-list-book-name {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.shopping-list-book-genre {
  color: #b4afaf;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: 0.36px;
}

.shopping-list-book-deskription {
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.shopping-list-author {
  margin-top: auto;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.shopping-list-svg {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #4f2ee8;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .shopping-list-svg {
    top: 24px;
    right: 24px;
  }
}

.shopping-list-svg svg {
  width: 50%;
  height: auto;
}

.shopping-list-company-icons a {
  display: block;
}

.shopping-list-company-icons {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .shopping-list-company-icons {
    bottom: 24px;
    right: 24px;
    gap: 16px;
  }
}
