@import url('./reset.css');
@import url('./header.css');
@import url('./pop-up.css');

@import url('./query-and-markup.css');
@import url('./books-by-cat.css');

:root {
  --main-cl: #4f2ee8;
  --text-cl: #111111;
  --secondary-text-cl: #b4afaf;

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.lists {
  margin-bottom: 40px;
}

/* For Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  section {
    padding-bottom: 100px;
  }

  .lists {
    display: flex;
    gap: 32px;
    margin-bottom: 100px;
  }
}

/* For Desktop */
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    gap: 40px;
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .lists {
    flex-direction: column;
    gap: 86px;
    margin-bottom: 0;
  }
}
